.movieDetailsConntainer {
  display: flex;
  flex-direction: row;
  margin: 5vh;
  border: 1px solid #555555;
  padding: 3vh;
  gap: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  /* width: 95%; */
}
.movieDetails {
  text-align: justify;
  color: white;
}
.movieDetailsImg {
  width: 400px;
  height: 300px;
}
.movieDetailsInfo {
  display: flex;
  flex-direction: column;
}
.rating {
  border: 0.5px solid white;
  height: 35px;
  border-radius: 50%;
  width: 35px;
  text-align: center;
  line-height: 1.5;
}
.inline-container {
  margin-bottom: 50px;
}
.inline-item {
  display: inline-block;
  margin-right: 50px;
}
