.movie {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.movieImg {
  height: 40vh;
  width: 100%;
}
.movieInfo {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}
.info {
  flex: 1 1 40%;
  margin: 0;
  align-items: flex-start;
}
.withBorder {
  border: 1px solid white;
}
