.movie {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .movie-img {
    height: 40vh;
    width: 100%;
  }
  .movie-info {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
  }
  .movie-info__elem {
    flex: 1 1 40%;
    margin: 0;
    align-items: flex-start;
  }
  .with-border {
    border: 1px solid white;
  }